
@{
    ViewData["Title"] = "Education";
}

<h2 style="text-align: center">CBD Education</h2>
<p style="text-align: center"> We are working on making a general purpose CBD education website for all manners of use.</p>

