
@{
    ViewData["Title"] = "WholeSaleCatalog";
}

<h2 class="pdf-title">Whole-Sale Catalog</h2>
<div>
    <embed src="~/files/pdfs/Pinnacle_Wholesale_Catalog.pdf#zoom=80" class="pdf-viewer" />
</div>