@{
    ViewBag.Title = "Contact";
}
<h2><i class="fa fa-user"></i> @ViewBag.Title</h2>

<dl class="dl-horizontal">
    <dt>
        Author
    </dt>

    <dd>
        Giovanni Modica
    </dd>

    <dt>
        Email
    </dt>

    <dd>
        <a href="mailto:giovanni.modica@gmail.com">giovanni.modica@gmail.com</a>
    </dd>

    <dt>
        Web site
    </dt>

    <dd>
        <a href="http://giovannimodica.com">http://giovannimodica.com</a>
    </dd>
</dl>